# {{ ansible_managed }}
[Unit]
Description=Jackett Daemon
After=network.target

[Service]
Environment=XDG_CONFIG_HOME=/var/lib/jackett
User=jackett
Group=jackett
Restart=always
RestartSec=5
Type=simple
ExecStart=/bin/sh /opt/jackett/jackett_launcher.sh
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
