# {{ ansible_managed }}
server {
    listen 80;
    server_name {{ url }};

    root /var/www/html/{{ url }};
    index index.html;
    
    location / {
      autoindex on;
    }

    location /basic_status {
        stub_status;
    }
}

