# {{ ansible_managed }}
upstream php-handler {
    server unix:/var/run/php/php7.0-fpm.sock;
}

server {
    listen 80;
    server_name {{ kanboard_url }};

    root /var/www/html/{{ kanboard_url }};
    index index.php;

    client_max_body_size 4M;
    client_body_buffer_size 128k;

    location /basic_status {
        stub_status;
    }

    location ~ /data/ {
        deny all;
    }

    location ~ \.php$ {
        try_files $uri $uri/ /index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param REDIRECT_STATUS 200;
        fastcgi_pass php-handler;
    }
}
