CREATE DATABASE IF NOT EXISTS servermail;

CREATE TABLE IF NOT EXISTS servermail.virtual_domains (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE IF NOT EXISTS servermail.virtual_users (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    domain_id INT NOT NULL,
    password VARCHAR(106) NOT NULL,
    email VARCHAR(120) NOT NULL,
    UNIQUE KEY email(email),
    FOREIGN KEY (domain_id) REFERENCES servermail.virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE IF NOT EXISTS servermail.virtual_aliases (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    domain_id INT NOT NULL,
    source VARCHAR(100) NOT NULL,
    destination VARCHAR(100) NOT NULL,
    FOREIGN KEY (domain_id) REFERENCES servermail.virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO servermail.virtual_domains (id, name) VALUES (1, 'paddatrapper.me');
INSERT INTO servermail.virtual_domains (id, name) VALUES (2, 'mail.paddatrapper.me');

INSERT INTO servermail.virtual_users (id, domain_id, password, email) VALUES
(1, 1, ENCRYPT('{{ user_email_password }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), '{{ user_email_name }}@paddatrapper.me');

INSERT INTO servermail.virtual_aliases (id, domain_id, source, destination) VALUES
(1, 1, 'gmail@paddatrapper.me', '{{ user_email_name }}@paddatrapper.me');
