# {{ ansible_managed }}
10.0.0.2    router
10.0.0.7    clara
10.0.0.8    martha
10.0.0.9    pi
10.0.0.11   printer
10.0.0.21   wifi-ap
10.0.0.22   ap-flat
10.0.0.23   ap-stairs

10.0.0.7    files
10.0.0.7    torrents
10.0.0.7    movies
10.0.0.7    series
10.0.0.7    backup
10.0.0.7    jackett
10.0.0.8    emby
10.0.0.8    videos
