# {{ ansible_managed }}
# Configuration file for dnsmasq.

# Never forward plain names (without a dot or domain part)
domain-needed

# Never forward addresses in the non-routed address spaces.
bogus-priv

# Name servers
server=208.67.222.222
server=208.67.220.220

# Local domain
local=/home/
listen-address={{ ansible_default_ipv4.address }}
bind-interfaces

# Read from specific hosts file
no-resolv
no-poll
no-hosts
addn-hosts=/etc/dnsmasq_static_hosts.conf

# Automatically adds the domain to simple hosts in the hosts file
expand-hosts

# Dnsmasq domain
domain=home

## DHCP
interface={{ ansible_default_ipv4.interface }}

# Default gateway
dhcp-option=3,10.0.0.2

# DNS Servers
dhcp-option=6,10.0.0.7,208.67.222.222

# Address range and lease period
dhcp-range=10.0.0.8,10.0.0.254,24h
