# {{ ansible_managed }}
[global]
   netbios name = FILE-SERVER
   workgroup = WORKGROUP
   security = user
   encrypt passwords = yes
   smb passwd file = /etc/samba/smbpasswd
   interfaces = {{ ansible_default_ipv4.interface }}

[common]
    comment = General files
    path = /srv/common/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes

[videos]
    comment = Video database
    path = /srv/jellyfin/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes
