# {{ ansible_managed }}
[global]
   netbios name = MEDIA-SERVER
   workgroup = WORKGROUP
   security = user
   encrypt passwords = yes
   smb passwd file = /etc/samba/smbpasswd
   interfaces = {{ ansible_default_ipv4.interface }}

[videos]
    comment = Video database
    path = /srv/emby/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes
