# {{ ansible_managed }}
[global]
   netbios name = FILE-SERVER
   workgroup = WORKGROUP
   security = user
   encrypt passwords = yes
   smb passwd file = /etc/samba/smbpasswd
   interfaces = {{ ansible_default_ipv4.interface }}

[torrents]
    comment = Torrent database
    path = /srv/torrents/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes

[common]
    comment = General files
    path = /srv/common/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes

[cassie-backup]
    comment = Cassie backup
    path = /srv/cassie/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes

[tania-backup]
    comment = Tania backup
    path = /srv/tania/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes
