# {{ ansible_managed }}
[Unit]
Description=Matterbot is a general pupose bot for mattermost
After=mattermost.service

[Service]
Type=simple
User=mattermost
Group=mattermost
ExecStart=/usr/local/bin/matterbot
Environment=MATTERMOST_BOT_SETTINGS_MODULE=mattermost_bot_settings
WorkingDirectory=/opt/matterbot
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
