# {{ ansible_managed }}
upstream php-handler {
    server unix:/var/run/php/php7.0-fpm.sock;
}

server {
    listen 80;
    server_name {{ blog_url }};

    root /var/www/html/{{ blog_url }};
    index index.php;
    try_files $uri $uri/ /index.php$args;

    location /basic_status {
        stub_status;
    }

    location ~ \.php$ {
        try_files $uri =404;
        include fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass php-handler;
    }
}
