# {{ ansible_managed }}
server {
    listen 80;
    server_name {{ jellyfin_url }};

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://127.0.0.1:8096/;
    }
}
