# {{ ansible_managed }}
server {
    listen 80;
    server_name {{ sonarr_url }};

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP {{ ansible_default_ipv4.address }};
        proxy_pass http://127.0.0.1:8989/;
    }
}
