# {{ ansible_managed }}
[Unit]
Description=Sonarr
After=syslog.target network.target

[Service]
User=sonarr
Group={{ torrent_group }}
UMask=0002

Type=simple
KillMode=process
Restart=always
ExecStart=/usr/bin/mono --debug /opt/NzbDrone/NzbDrone.exe -nobrowser

[Install]
WantedBy=multi-user.target
