# {{ ansible_managed }}
AliasMatch ^/sites/[^/]+$      /usr/share/dokuwiki/
AliasMatch ^/sites/[^/]+/(.*)$ /usr/share/dokuwiki/$1
Alias      /                   /usr/share/dokuwiki/

<Directory /usr/share/dokuwiki/>
Options +FollowSymLinks
AllowOverride All
Require all granted

        <IfModule mod_rewrite.c>

                # Uncomment to implement server-side URL rewriting
                # (cf. <http://www.dokuwiki.org/config:userewrite>).
                        # Do *not* mix that with multisite!
                #RewriteEngine on
                #RewriteBase /dokuwiki
                #RewriteRule ^lib                      - [L]
                #RewriteRule ^doku.php                 - [L]
                #RewriteRule ^feed.php                 - [L]
                #RewriteRule ^_media/(.*)              lib/exe/fetch.php?media=$1  [QSA,L]
                #RewriteRule ^_detail/(.*)             lib/exe/detail.php?media=$1 [QSA,L]
                #RewriteRule ^_export/([^/]+)/(.*)     doku.php?do=export_$1&id=$2 [QSA,L]
                #RewriteRule ^$                        doku.php  [L]
                #RewriteRule (.*)                      doku.php?id=$1  [QSA,L]
        </IfModule>
</Directory>

<Directory /usr/share/dokuwiki/bin>
        Require all denied
</Directory>

<Directory /var/lib/dokuwiki/data>
        Require all denied
</Directory>

<Location "/basic_status">
    SetHandler server-status
</Location>
