# {{ ansible_managed }}
upstream php-handler {
    server unix:/var/run/php/php7.0-fpm.sock;
}

server {
    listen 80;
    server_name {{ glpi_url }};
    root /var/www/{{ glpi_url }};
    index index.html index.htm index.php;

    location /basic_status {
        stub_status;
    }

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location /files/ {
        deny all;
    }

    location ~ \.php$ {
        try_files $uri $uri/ =404;
        fastcgi_pass php-handler;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
