<?php
$CONFIG = array (
  'instanceid' => '{{ nextcloud_instance_id }}',
  'passwordsalt' => '{{ nextcloud_salt }}',
  'secret' => '{{ nextcloud_secret }}',
  'trusted_domains' => 
  array (
    0 => '{{ nextcloud_url }}',
  ),
  'datadirectory' => '/var/www/html/{{ nextcloud_url }}/data',
  'overwrite.cli.url' => 'https://{{ nextcloud_url }}',
  'overwriteprotocol' => 'https',
  'dbtype' => 'mysql',
  'version' => '16.0.1.1',
  'dbname' => '{{ nextcloud_mysql_db_user }}',
  'dbhost' => '{{ mysql_container_details.lxc_container.ips[0] }}:3306',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ nextcloud_mysql_db_user }}',
  'dbpassword' => '{{ nextcloud_mysql_db_password }}',
  'mysql.utf8mb4' => true,
  'installed' => true,
  'mail_smtpmode' => 'smtp',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_from_address' => 'no-reply',
  'mail_domain' => 'paddatrapper.com',
  'mail_smtpauth' => 1,
  'mail_smtphost' => '{{ nextcloud_mail_host }}',
  'mail_smtpport' => '{{ nextcloud_mail_port }}',
  'mail_smtpname' => '{{ nextcloud_mail_username }}',
  'mail_smtppassword' => '{{ nextcloud_mail_password }}',
);
