# {{ ansible_managed }}
from .settings import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ zebra_crossing_key }}'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = ['*']

# Internationalization
# https://docs.djangoproject.com/en/2.0/topics/i18n/

LANGUAGE_CODE = 'en-za'

TIME_ZONE = 'Africa/Johannesburg'
