# {{ ansible_managed }}
upstream django {
    server unix:///var/run/uwsgi/app/{{ zebra_crossing_url }}/socket;
}

server {
    listen 80;
    server_name {{ zebra_crossing_url }};
    charset utf-8;

    client_max_body_size 75M;

    location /basic_status {
        stub_status;
    }

    location /media  {
        alias /opt/zebra-crossing/zebracrossing/media;
    }

    location /static {
        alias /opt/zebra-crossing/zebracrossing/static;
    }

    location / {
        uwsgi_pass django;
        include /etc/nginx/uwsgi_params;
    }
}
