# {{ ansible_managed }}
server {
    listen 80;
    server_name {{ torrent_url }};

    location /basic_status {
        stub_status;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://127.0.0.1:9091/;
    }
}
