# {{ ansible_managed }}
upstream php-handler {
    server unix:/var/run/php/php7.0-fpm.sock;
}

server {
    listen 80;
    server_name {{ dolibarr_url }};
    root /var/www/html/{{ dolibarr_url }}/htdocs;
    index index.html index.htm index.php;

    client_max_body_size 100M;

    location /basic_status {
        stub_status;
    }

    location ~ ^/api/(?!(index\.php))(.*) {
        try_files $uri /api/index.php/$2?$query_string;
    }

    location ~ [^/]\.php(/|$) {
        include snippets/fastcgi-php.conf;

        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        fastcgi_pass php-handler;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

}
