# {{ ansible_managed }}
[Unit]
Description=Matterircd is a IRC bridge for Mattermost
After=mattermost.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/matterircd/matterircd-linux64 -bind "mattermost.paddatrapper.me:6667" \
            -tlsbind "mattermost.paddatrapper.me:6697" \
            -tlsdir "/opt/matterircd/"
WorkingDirectory=/opt/matterircd
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
