# {{ ansible_managed }}
*mangle

:PREROUTING ACCEPT [35205:14050085]
:INPUT ACCEPT [35205:14050085]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [34951:7199600]
:POSTROUTING ACCEPT [34968:7202193]

COMMIT

*nat

:PREROUTING ACCEPT [2031:82738]
:INPUT ACCEPT [2031:82738]
:OUTPUT ACCEPT [2919:195127]
:POSTROUTING ACCEPT [2917:194778]

COMMIT

*filter

# Accept all incoming thanks to Chromecast and Samba
:INPUT ACCEPT [35186:1404385]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [34951:7199600]

# Accept existing traffic
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow SSH connections
-A INPUT -p tcp -m state --state NEW --dport 22 -j ACCEPT

# Accept loopback traffic
-A INPUT -i lo -j ACCEPT

# Allow ping
-A INPUT -p icmp -j ACCEPT

# Allow web traffic
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT

COMMIT
