$TTL	3600
@	IN	SOA	ns1.svinta.pl	admin.svinta.pl (
			2017091803	; Serial (YYYMMDDXX)
			3600		; Referesh [1h]
			600		    ; Retry [10m]
			86400		; Expire [1d]
			600)		; Negative Cache TTL [1h]
;
svinta.pl.	IN	NS	ns1.svinta.pl.
ns1.svinta.pl.	IN	A	{{ ansible_default_ipv4.address }}
svinta.pl.	IN	A	{{ ansible_default_ipv4.address }}

www.svinta.pl.	IN 	CNAME	svinta.pl.
