// {{ ansible_managed }}
options {
  directory "/var/cache/bind";

  // If there is a firewall between you and nameservers you want
  // to talk to, you may need to fix the firewall to allow multiple
  // ports to talk.  See http://www.kb.cert.org/vuls/id/800113

  // If your ISP provided one or more IP addresses for stable 
  // nameservers, you probably want to use them as forwarders.  
  // Uncomment the following block, and insert the addresses replacing 
  // the all-0's placeholder.

  forwarders {
    // OpenDNS
    208.67.222.222;
    208.67.220.220;
    // Google
    8.8.8.8
    8.8.4.4
  };

  //========================================================================
  // If BIND logs error messages about the root key being expired,
  // you will need to update your keys.  See https://www.isc.org/bind-keys
  //========================================================================
  dnssec-validation auto;

  auth-nxdomain no;    # conform to RFC1035
  listen-on-v6 { any; };
  listen-on {
    {{ container_details.lxc_container.ips[0] }};
    {{ ansible_default_ipv4.address }};
  };
  recursion yes;
  allow-transfer { any; };
};

