// {{ ansible_managed }}
//
// Do any local configuration here
//
zone "svinta.pl" {
	type master;
	file "/etc/bind/zones/db.svinta.pl";
};

zone "78.15.51.in-addr.arpa" {
	type master;
	file "/etc/bind/zones/db.51.15.78";
};

// Consider adding the 1918 zones here, if they are not used in your
// organization
include "/etc/bind/zones.rfc1918";
