# {{ ansible_managed }}
service forward_80
{
	type = UNLISTED
	port = 80
	socket_type = stream
	wait = no
	user = root
	redirect = {{ container_details.lxc_container.ips[0] }} 80
}

service forward_443
{
	type = UNLISTED
	port = 443
	socket_type = stream
	wait = no
	user = root
	redirect = {{ container_details.lxc_container.ips[0] }} 443
}
