#!/bin/bash
# {{ ansible_managed }}
#
# Backs up all the containers on a host
#
shopt -s extglob

if [ "$EUID" -ne 0 ]; then
    echo "You must be root to run this script"
    exit
fi

CURRENT_DATE=$(date +"%Y-%m-%d")
OLD_DATE=$(date --date="{{ backup_retention_length }} ago" +"%Y-%m-%d")
BACKUP_DIR=backup
NEW_REMOTE_DESTINATION=/Root/$BACKUP_DIR/$CURRENT_DATE/$(hostname)
OLD_REMOTE_DESTINATION=/Root/$BACKUP_DIR/$OLD_DATE/$(hostname)
TMP=/tmp/backup

if [ ! -d $TMP ]; then
    mkdir $TMP
fi

echo "Making mega.nz directory $NEW_REMOTE_DESTINATION..."
megamkdir --config /etc/megatools.conf /Root/$BACKUP_DIR
megamkdir --config /etc/megatools.conf /Root/$BACKUP_DIR/$CURRENT_DATE
megamkdir --config /etc/megatools.conf $NEW_REMOTE_DESTINATION

cd /var/lib/lxc
for f in */; do
    CONTAINER_NAME=${f:0:-1}
    echo "Backing up $CONTAINER_NAME..."

    echo "Creating tar ball..."
    lxc-stop -n $CONTAINER_NAME
    {{ backup_unmount_commands | default("") }}
    tar --numeric-owner -czf $TMP/$CONTAINER_NAME.tar.gz ./$CONTAINER_NAME
    {{ backup_mount_commands | default("") }}
    lxc-start -n $CONTAINER_NAME

    echo "Encrypting backup"
    gpg --output $TMP/$CONTAINER_NAME.tar.gz.gpg --encrypt --recipient {{ gpg_fingerprint }} $TMP/$CONTAINER_NAME.tar.gz
    rm $TMP/$CONTAINER_NAME.tar.gz

    echo "Uploading $CONTAINER_NAME..."
    megaput --config /etc/megatools.conf $TMP/$CONTAINER_NAME.tar.gz.gpg --path=$NEW_REMOTE_DESTINATION
    rm $TMP/$CONTAINER_NAME.tar.gz.gpg
done

echo "Removing old backup $OLD_REMOTE_DESTINATION..."
megarm --config /etc/megatools.conf $OLD_REMOTE_DESTINATION

REMAINING_FILES=$(megals --config /etc/megatools.conf $OLD_REMOTE_DESTINATION/..)
if [ "$REMAINING_FILES" -eq "/Root/$BACKUP_DIR/$OLD_DATE" ]; then
    echo "Removing empty directory /Root/$BACKUP_DIR/$OLD_DATE..."
    megarm --config /etc/megatools.conf $OLD_REMOTE_DESTINATION/..
fi

rm -r $TMP
echo "Done"
