# {{ ansible_managed }}
lxc.net.0.type = veth
lxc.net.0.link = lxcbr0
lxc.net.0.flags = up
lxc.net.0.hwaddr = 00:16:3e:xx:xx:xx
lxc.start.auto = 1
lxc.apparmor.profile = generated
lxc.apparmor.allow_nesting = 1
