# {{ ansible_managed }}
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
        address 10.0.3.{{ ssh_port | int - 1540 }}
        netmask 255.255.255.0
        gateway 10.0.3.1
        dns-nameserver 8.8.8.8
