# {{ ansible_managed }}
server {
    listen 80;
    server_name {{ invoiceplane_url }};

    server_tokens off;

    location /basic_status {
        stub_status;
    }

    root /var/www/html/{{ invoiceplane_url }};

    # Add index.php to the list if you are using PHP
    client_max_body_size 300M;
    index index.html index.htm index.php;

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;

    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
        autoindex on;
        sendfile off;
    }
}
