# {{ ansible_managed }}
import os
from .settings import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ bubbles_key }}'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = ['*']

# Internationalization
# https://docs.djangoproject.com/en/2.0/topics/i18n/

LANGUAGE_CODE = 'en-za'

TIME_ZONE = 'Africa/Johannesburg'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': '{asctime}: {levelname} - {message}',
            'style': '{',
        },
        'simple': {
            'format': '{levelname} {message}',
            'style': '{',
        },
    },
    'filters': {
        'require_debug_true': {
            '()': 'django.utils.log.RequireDebugTrue',
        },
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse',
        },
    },
    'handlers': {
        'console': {
            'level': 'INFO',
            'filters': ['require_debug_true'],
            'class': 'logging.StreamHandler',
            'formatter': 'simple',
        },
        'file': {
            'level': os.getenv('BUBBLES_LOG_LEVEL', 'WARNING'),
            'class': 'logging.FileHandler',
            'filename': '/var/log/bubbles/bubbles.log',
            'filters': ['require_debug_false'],
            'formatter': 'verbose',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file', 'console'],
            'level': 'INFO',
            'propogate': True,
        },
        'bubbles': {
            'handlers': ['file', 'console'],
            'level': os.getenv('BUBBLES_LOG_LEVEL', 'DEBUG'),
            'propogate': True,
        },
    },
}
