# {{ ansible_managed }}
[Unit]
Description=MeshCentral Server

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/meshcentral/node_modules/meshcentral --notls --port 8070 --wanonly
WorkingDirectory=/opt/meshcentral
User=meshcentral
Group=meshcentral
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
