# {{ ansible_managed }}
*mangle

:PREROUTING ACCEPT [35205:14050085]
:INPUT ACCEPT [35205:14050085]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [34951:7199600]
:POSTROUTING ACCEPT [34968:7202193]
-A POSTROUTING -o lxcbr0 -p udp -m udp -j CHECKSUM --checksum-fill

COMMIT

*nat

:PREROUTING ACCEPT [2031:82738]
:INPUT ACCEPT [2031:82738]
:OUTPUT ACCEPT [2919:195127]
:POSTROUTING ACCEPT [2917:194778]
-A POSTROUTING -s 10.0.3.0/24 -o lxcbr0 -j SNAT --to-source {{ ansible_default_ipv4.address }}
-A POSTROUTING -s 10.0.3.0/24 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
-A PREROUTING -i eth0 -p tcp -m tcp --dport 3333 -m comment --comment "redirect traffic to VPN host" -j DNAT --to-destination 10.8.0.93:3333
-A PREROUTING -i eth0 -p tcp -m tcp --dport 4444 -m comment --comment "redirect traffic to VPN host" -j DNAT --to-destination 10.8.0.93:4444

COMMIT

*filter

:INPUT DROP [35186:1404385]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [34951:7199600]

# Accept existing traffic
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow SSH connections
-A INPUT -p tcp -m state --state NEW --dport 22 -j ACCEPT

# Accept loopback and bridge traffic
-A INPUT -i lo -j ACCEPT
-A INPUT -i lxcbr0 -j ACCEPT

-A FORWARD -i lxcbr0 -j ACCEPT
-A FORWARD -o lxcbr0 -j ACCEPT

# Allow brige traffic
-A INPUT -i lxcbr0 -p tcp -m tcp --dport 53 -j ACCEPT
-A INPUT -i lxcbr0 -p udp -m udp --dport 53 -j ACCEPT
-A INPUT -i lxcbr0 -p tcp -m tcp --dport 67 -j ACCEPT
-A INPUT -i lxcbr0 -p udp -m udp --dport 67 -j ACCEPT

# Allow ping
-A INPUT -p icmp -j ACCEPT

# Allow web traffic
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT

# Allow Pawc VPN traffic
-A INPUT -p tcp --dport 3333 -j ACCEPT
-A INPUT -p tcp --dport 4444 -j ACCEPT
COMMIT
